<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Host -->
  <add key="HostConfig.JsvFeature" value="false"/>
  <!-- Base de données -->
  <add key="OrmLiteConfig.ConnectionStringName" value="PyreneModel"/>
  <add key="OrmLiteConfig.CommandTimeout" value="30"/>
  <!-- Sérialisation CSV -->
  <add key="CsvConfig.ItemDelimiterString" value="&quot;"/>
  <add key="CsvConfig.ItemSeparatorString" value=";"/>
  <!-- Plugin CORS -->
  <add key="Plugins.CorsFeature" value="false"/>
  <add key="Plugins.CorsFeature.AllowOriginWhitelist" value=""/>
  <!-- Plugin Swagger -->
  <add key="Plugins.SwaggerFeature" value="true"/>
</appSettings>
