@inherits ViewPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        DEFAULT :
        <ul>
            <li>
                <a href="/SelectCompteur">/SelectCompteur</a>
            </li>
            <li>
                <a href="/SelectCompteur?Take=10">/SelectCompteur?Take=10</a>
            </li>
            <li>
                <a href="/GetCompteur">/GetCompteur</a>
            </li>
            <li>
                <a href="/GetCompteur/1">/GetCompteur/1</a>
            </li>
            <li>
                <a href="/Compteur">/Compteur</a>
            </li>
            <li>
                <a href="/Compteur?Take=10">/Compteur?Take=10</a>
            </li>
            <li>
                <a href="/Compteur/1">/Compteur/1</a>
            </li>
        </ul>
    </div>
</body>
</html>
