@inherits ViewPage<Tmpi.Pyrene.ServiceModel.Types.Compteur>

@{
    Layout = null;
    const string fields = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        GetCompteur
    </div>
</body>
</html>
