@inherits ViewPage<SelectCompteurResponse>

@{
    Layout = null;
   
    //fields = fields ?? "plop";
    //var resp = Gateway.Send(new SelectCompteur
    //{

    //});
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        SelectCompteur
        @foreach (var cpt in Model.Results)
        {
            <ul>@cpt.CleCompteur</ul>
        }
    </div>
</body>
</html>
